/*Header Styling*/
.jumbotron{
	height: 300px;
}

.header{
	text-align: center;
	color: white;
	font-family: 'Fugaz One', cursive;
	position: relative;
	top: 30px;
}

/*Body*/

body{
	background-color: #f7f7fc !important;
}

/*OtherStuff*/

.diamond{
	height: 200px;
	width: 200px;
	position: relative;
	left: 40px;
	top: 50px;
}

.crystals{
	height: 116px;
	width: 116px;
	background-color: transparent;
	margin-top: 15px;
	margin-left: 20px;

}

.crystal1{
	float: left;
	clear: both;
	margin-bottom: 90px;
}

.col-md-2{
	margin-top: 60px;
}

#score-title{
	text-align: center;
}

#victory-box{
	text-align: center;
	font-size: 20px;
}

#score-number{
	text-align: center;
	font-size: 72px;
	position: relative;
	top: 40px;
}

#random-number{
	text-align: center;
	font-size: 28px;
}

